#игнорируемые директории 
target
lib/

#игнорируемые директории ide
.idea/
.fleet/

#игнорируемые файлы ide
*.iml
pom.xml

#игнорирование файла файловой системы mac os
.DS_Store

#игнорирование информации по конфигурации приложения
anonsrc/
configs/
