#игнорируемые директории 
target
.idea/
.fleet/

#игнорируемые файлы ide
.idea/*.xml
*.iml
*.xml

#игнорирование файла файловой системы mac os
.DS_Store

#игнорирование информации по конфигурации приложения
anonsrc
